/* Popup overlay */
.image-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #fff;
}

.image-popup-overlay.active {
  display: flex;
}

/* Popup content */
.image-popup-content {
  width: 100%;
  height: 100%;
}

#carouselExampleIndicators {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#carouselExampleIndicators .carousel-inner {
  width: auto;
}

.image-popup-content img {
  max-width: 24rem;
  width: auto !important;
  height: auto;
  object-fit: contain;
  border: 0.25rem solid var(--color-primary);
  border-radius: 1rem;
  object-fit: cover;
  aspect-ratio: 3 / 4;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--color-primary);
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1;
}

.close-btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .image-popup-overlay {
    padding: 0.5rem;
  }
  
  .image-popup-content img {
    max-width: 90vw;
  }
}
