/* Footer Styles */
.footer {
  background-color: #3a001e;
  color: #fff;
  padding: 2rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 calc(20% - 20px);
}

.footer-logo {
  max-height: 100px;
}

.footer-section a,
.footer-section p {
  color: #fff;
  font-size: 12px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 900;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a:hover {
  color: var(--color-accent-blue-light);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 20px;
  font-size: 0.9rem;
  color: #aaa;
}

/* .footer-bottom .language-selector select {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px;
  font-size: 0.9rem;
} */

.footer-bottom .language-selector {
  display: flex; /* Use flexbox for better layout */
  align-items: center; /* Vertically center elements */
  margin-bottom: 15px; /* Add some spacing below */
}

.footer-bottom .language-selector label {
  margin-right: 10px; /* Space between label and select */
  color: #fff; /* Set label color to white */
}

.footer-bottom .language-selector select {
  background-color: transparent; /* Set background color */
  color: #fff; /* Set text color */
  padding: 5px 10px;
  border-radius: 5px;
}

.footer-bottom .language-selector option {
  background-color: #3a001e;
}

.footer-bottom .language-selector option:hover {
  background-color: white;
  color: #3a001e;
}

.footer-social-container {
  display: flex; /* Arrange icons horizontally */
  align-items: center; /* Center icons vertically */
  gap: 20px;
}

.footer-social-icons {
  background-color: #fff;
  padding: 5px; /* Spacing between icons */
  border-radius: 5px;
  color: #fff; /* White color for icons */
  text-decoration: none;
}

.footer-social-icons:hover {
  opacity: 0.7; /* Dim slightly on hover */
}

.footer .email-button {
  background-color: transparent; /* Burgundy color */
  border: 1px solid #fff;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .email-button:hover {
  background-color: white;
  color: #3a001e;
}

.footer .arrow {
  margin-left: 5px; /* Adjust as needed */
}

@media only screen and (max-width: 768px) {
  .footer-content {
    gap: 24px;
  }
  .footer-section {
    flex: 1 1 calc(50% - 12px);
  }
  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 400px) {
  .footer-section {
    flex: 1 1 100%;
  }
}
