.hero {
    background-image: url('../images/hero-banner.jpg');
    background-image: image-set(
      url('../images/hero-banner.webp') type('image/webp'),
      url('../images/hero-banner.jpg') type('image/jpeg')
    );
    background-size: cover;
    background-position: center;
    max-height: 500px;
    /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero .hero-button {
    border-width: 3px;
    font-weight: bold;
    background-color: transparent;
    border-color: #fff;
}

.hero .hero-button:hover {
    background-color: #3a001e;
    border-color: #fff;
    color: #3a001e;
    background-color: #fff;
    border-color: #3a001e;
}

.hero .hero-button-alt {
  background-color: #fff;
  border: 3px solid #fff;
  color: #3a001e;
  font-weight: bold;
}

.hero .hero-button-alt:hover {
  background-color: transparent;
  color: #fff;
}

@media only screen and (max-width: 768px) {
    .hero {
      text-align: center;
    }
  }