/* Section Styling */
.showcase {
  padding: 2rem;
}

.showcase-title {
  color: #3a001e;
  font-weight: bold;
  margin-bottom: 20px;
}

.showcase-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* Main Highlight */
.featured-image-gallery {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.featured-images {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  position: relative;
}

.main-saree-image-div {
  flex: 1;
  position: relative;
}

.main-saree-image {
  cursor: pointer;
  max-width:  24rem;
  height: auto;
  /* border: 2px solid #3663D8; */
  border-radius: 0.6rem;
  aspect-ratio: 3 / 4;
}

.side-saree-image-div {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  object-fit: cover;
}

.side-saree-image {
  cursor: pointer;
  max-width: 12rem;
  height: auto;
  /* border: 2px solid #3663D8; */
  border-radius: 0.6rem;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.caption {
  font-size: 16px;
  color: #3a001e;
  margin-bottom: 15px;
}

.explore-now {
  justify-content: center;
  gap: 1rem;
  align-items: center;
  display: inline-flex;
  background-color: #3a001e;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid #3a001e;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.explore-now:hover {
  background-color: #fff;
  color: #3a001e;
  border: 1px solid #3a001e;
}

/* Gallery Section */
.showcase-gallery {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.showcase-item {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

.showcase-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.insta-iframe {
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .showcase {
    text-align: center;
  }

  .showcase-wrapper {
    flex-direction: column;
  }

  .insta-iframe {
    max-height: 480px;
    overflow: hidden;
  }
}
