<section class="image-popup-overlay" id="image-popup-overlay">
  <div class="image-popup-content">
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
      <div class="carousel-indicators"></div>
      <div class="carousel-inner"></div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <button role="button" aria-label="Close" class="close-btn" id="closeBtn">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="dropin-button-icon dropin-button-icon--tertiary">
      <path vector-effect="non-scaling-stroke" d="M18.3599 5.64001L5.62988 18.37" stroke="currentColor"></path>
      <path vector-effect="non-scaling-stroke" d="M18.3599 18.37L5.62988 5.64001" stroke="currentColor"></path>
    </svg>
  </button>
</section>
