<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "{{ product.name }}",
  "description": "{{ product.description }}",
  "category": "{{ product.category }}",
  "image": [{% for img in product.images %}"{{ site.url }}{{ ('/images/' + img) | url }}"{% if not loop.last %}, {% endif %}{% endfor %}],
  "offers": {
    "@type": "Offer",
    "price": "{{ product.price }}",
    "priceCurrency": "{{ product.currency }}",
    "availability": "https://schema.org/InStock",
    "url": "{{ site.url }}{{ page.url | url }}"
  }
}
</script>
